<?xml version="1.0"?>
<robot name="robot">

  <!-- Se define la esfera que representa un ojo -->
  <link name="base_link">
    <visual>
      <geometry>
        <sphere radius="0.05"/> <!-- 5 cm de radio -->
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/> <!-- Color Blanco -->
      </material>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </collision>
  </link>

  <!-- Se define el iris -->
  <link name="sensor_link">
    <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 1.57 0.0"/>
      <geometry>
        <cylinder radius="0.02" length="0.01"/> <!-- 2 cm radio, 1 cm largo -->
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1"/> <!-- Color Azul -->
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.02" length="0.01"/>
      </geometry>
    </collision>
  </link>

  <!-- Junta que conecta la esfera con el iris -->
  <joint name="eye_joint" type="fixed">
    <parent link="base_link"/>
    <child link="sensor_link"/>
    <origin xyz="0.05 0.0 0.0" rpy="0.0 0.0 0.0"/> <!-- Posicion de la esfera respecto al iris -->
  </joint>

</robot>
